$blue: #3b74b4;
$white: #fff;
$grey: #e4e4e4;
$secondary-white: #f7f7f7;
$green: #67b930;
$normal-grey: #616161;
$light-grey: #8d8d8d;
$dark-grey: #2b2b2b;
$red: #c72727;

.login {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin-bottom: 5rem;
}

.small_h1 {
  font-size: 1rem;
  line-height: 18px;
}

.new_user {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.login_links {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login_links a {
  color: $light-grey;
  font-size: 0.9rem;
  text-align: center;
}

.login_links a:hover {
  text-decoration: underline;
}

.new_user input {
  background-color: white;
  width: 100%;
  border: none;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  height: 3rem;
  padding: 0.5rem;
}

input.login_btn {
  border: none;
  padding: 1.2rem;
  outline: 1px solid $white;
  outline-offset: -1rem;
  font-size: 1rem;
  min-height: 5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $green;
  color: white;
  text-transform: uppercase;
  white-space: normal;
}

.new_user input::placeholder {
  color: $light-grey;
  font-size: 0.9rem;
}

.container {
  color: $normal-grey;
  font-size: 1rem;
  display: block;
  position: relative;
  padding-left: 1.5rem;
  margin: 12px auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: $white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $blue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.container .checkmark::after {
  left: 4px;
  top: -1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark::after {
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.new_user input:focus {
  outline: none;
  border-top: 1px solid $normal-grey;
  border-bottom: 1px solid $normal-grey;
}
